<!-- <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark teal darken-3 scrolling-navbar ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
              <a class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Features</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Pricing</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Opinions</a>
          </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>

<main>
  <div class="container" style="height:1300px; margin-top: 100px;">

  
     <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </form> 
  </div>
</main> -->

<body>
<router-outlet></router-outlet>
</body>