            <mat-drawer-container style="background-color: white; height: 100vmax;">
             <mat-drawer [opened]="sideNavOpened" mode="side" position="end" style="min-width: 350px">
                  <mat-form-field style="width: 100%; padding: 0px 5px 10px 5px;">
                    <input matInput type="text" [(ngModel)]="searchQuery" placeholder="Search"
                      (keyup)="handleKeyUp($event)" class="notonly"
                      autocomplete="off" autofocus/>
                  </mat-form-field>
                  <ul #list style="overflow: auto">
                    <li *ngFor="let item of source; let i= index" [class.active]="i ===
                      selectedIndex" style="cursor: pointer;"
                      (click)="selectAsset(i)">
                      {{ item.ASSETNO }} {{ item.ASSET_DESCRIPTION | truncate:[20, '...'] }}
                      <!-- {{item.ASSETNO}} {{item.ASSET_DESCRIPTION}} -->
                    </li>
                  </ul>
                </mat-drawer>
              
              
                <mat-drawer-content>
              
                  <div class="container justify-content-between animated fadeIn"
                    *ngIf="showAssetData">
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap;
                      justify-content: space-between">
                      <div>
                        <button mdbBtn type="button"  mdbWavesEffect
                          class="btn
                          btn-sm waves-light pri"
                          (click)="toggleSideNav()">
                          <i class="fa fa-search" style="margin-right: 5px"></i>Search
                        </button>
                      </div>
              
                      <div>
                        <mat-button-toggle-group name="viewSelector"
                          (change)="onViewSelectorChange($event)"
                          #viewSelector="matButtonToggleGroup" aria-label="Font Style"
                          value="All" multiple>
                          <input matInput placeholder="Search here" type="text"
                            [(ngModel)]="searchVal" (keyup)="handleKeyUp($event)">
                          <i class="fa fa-caret-down"></i>
                          <mat-button-toggle *ngFor="let item of department"
                            value={{item.name}}><i class={{item.icon}}></i>&nbsp;{{item.name}}</mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                    </div>
              
                    <hr>
                    
              <div>

             

              <div class="col-10" #asset>
                        <div class="card mr-2"
                          *ngIf="(viewSelector.value.includes('Asset') ||
                          viewSelector.value.includes('All'))">
                          <div class="gradient">
                            <span class="my-card-title float-left headerColor">Asset</span>

                            <i class="fa fa-pencil float-right headerColor" (click)="update()"></i>
                          </div>
                         
                            <div class="row">
                              <div class="col label-1">Asset No:</div>
                              <div class="col"><b>
                                <input matInput type="text"
                                value="{{selected.ASSETNO}}">
                              </b></div>
                              <div class="col label-1">Barcode No: </div>
                              <div class="col"><b>
                                <input matInput type="text"
                                value="{{selected.BARCODENO}}">
                              </b></div>
                            </div>
                            <div class="row">
                              <div class="col label-1">Capacity: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.ASSET_CAPACITY}}">
                                </b></div>
                              <div class="col label-1">Condition: </div>
                              <div class="col"><b>
                                <input matInput type="text"
                                value="{{selected.ASSET_CONDITION}}">
                              </b></div>    
                            </div>
              
                            <div class="row">
                              <div class="col label-1">Type: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.ASSET_TYPE}}">
                                </b></div>
                                <div class="col label-1">EquipmentNo: </div>
                                <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.EQUIPMENTNO}}">
                                </b></div>    
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col label-1">Vendor Mfg Sr No: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.VENDOR_MANUFACTURING_SERIALNO}}">
                               </b></div>
                            </div>
              
                            <div class="row">
                              <div class="col label-1">ATOS Generated No:</div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.ATOS_GENERATED_NO}}">
                                </b></div>
                            </div>
                            <div class="row">
                              <div class="col label-1">Description:&nbsp;</div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.ASSET_DESCRIPTION}}">  
                              </b></div>
                            </div>
                        </div>
              </div>  
          
              <div class="col-10">
                        <div class="card" *ngIf="(viewSelector.value.includes('Finance')
                        ||
                        viewSelector.value.includes('All'))">
                        <span class="my-card-title float-left gradient headerColor">Finance</span>
                          <div class="row">
                            <div class="col label-1">Plant: </div>
                            <div class="col"><b>
                                <input matInput type="text"
                                value="{{selected.PLANT}}">  
                              </b></div>
                            <div class="col label-1">Cost Center: </div>
                            <div class="col"><b>
                                <input matInput type="text"
                                value="{{selected.COSTCENTER}}"> 
                              </b></div>
                          </div>
                          <div class="row">
                            <div class="col label-1">Cap Date: </div>
                            <div class="col"><b>
                                <input matInput type="text"
                                value="{{selected.ASSET_CAP_DATE}}"> 
                              </b></div>
                            <div class="col label-1">Asset Value: </div>
                            <div class="col"><b>
                                <input matInput type="text"
                                value="{{selected.ASSET_VALUE}}"> 
                              </b></div>
                          </div>
                          <hr>
              
                          <div class="row">
                            <div class="col">
                                <div class="my-card-title-small">TBASE / Deposit</div>
                                <div class="row">
                                    <div class="col label-1">Amount: </div>
                                    <div class="col"><b>
                                        <input matInput type="text"
                                        value="{{selected.TBASE_DEPOSIT_AMOUNT}}"> 
                                      </b></div>
                                </div>
                                <div class="row">
                                    <div class="col label-1">Date: </div>
                                    <div class="col"><b>
                                        <input matInput type="text"
                                        value="{{selected.AMOUNT_PAID_DATE}}">
                                      </b></div>
                                </div>
                                <div class="row">
                                    <div class="col label-1">Cheque No: </div>
                                    <div class="col"><b>
                                        <input matInput type="text"
                                        value="{{selected.CHEQUENO}}">
                                      </b></div>
                                </div>    
                            </div>
                            <span style="border-right: 1px solid rgb(218, 213, 213);margin: -15px 0px;"></span>
                            <div class="col">
                                <div class="my-card-title-small">Refund</div>
                                  <div class="row">
                                    <div class="col">Amount: </div>
                                    <div class="col"><b>
                                        <input matInput type="text"
                                        value="{{selected.REFUND_AMOUNT_PAID}}">
                                      </b></div>
              
                                  </div>
                                  <div class="row">   
                                    <div class="col">Date:</div>
                                    <div class="col"><b>
                                        <input matInput type="text"
                                        value="{{selected.REFUND_AMOUNT_PAID_DATE}}">
                                      </b></div>
                                  </div>
                            </div>        
                          </div>       
                          <hr>
                          <div class="row">
                            <div class="col">
                              <div class="my-card-title-small">Service Charge</div>
                                <div class="row">
                                  <div class="col">Amount: </div>
                                  <div class="col"><b>
                                      <input matInput type="text"
                                      value="{{selected.SERVICE_CHARGE_AMOUNT}}">
                                    </b></div>
                                </div>
                                <div class="row">
                                  <div class="col">Date:</div>
                                  <div class="col"><b>
                                      <input matInput type="text"
                                      value=" {{selected.SERVICE_CHARGE_AMOUNT_PAID_DATE}}">
                                   </b></div>
                                </div>  
                                <div class="row">
                                      <div class="col">Due Date: </div>
                                      <div class="col"><b>
                                          <input matInput type="text"
                                      value="{{selected.SERVICE_CHARGE_DUE_DATE}}">
                                        </b></div>
                                </div>
                            </div>
                            <span style="border-right: 1px solid rgb(218, 213, 213);margin: -15px 0px;"></span>
                            <div class="col">
                                <div class="row">
                                    <div class="col">Remarks: &nbsp;<b>
                                        <input matInput type="text"
                                      value="{{selected.REMARKS}}">
                                      </b></div>
                                </div>
                            </div>
                          </div>            
                          <hr>
                      </div>
              </div>
              
              <div class="col-10">
                        <div class="card mr-2"
                          *ngIf="(viewSelector.value.includes('Reseller')
                          || viewSelector.value.includes('All'))">
                          <span class="my-card-title float-left gradient headerColor">Reseller</span>
                            <div class="row">
                              <div class="col label-1">Reseller Code: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.RESELLER_CODE}}"></b></div>
                              <div class="col label-1">Reseller: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.RESELLER_NAME | titlecase}}"></b></div>
                            </div>
                            <hr>
                           
                              <div class="my-card-title-small">Contact Detail</div>
                              <div class="row">
                                  <div class="col label-1">Person :</div>
                                  <div class="col"><b>
                                      <input matInput type="text"
                                      value="{{selected.CONTACT_PERSON | titlecase}}"></b></div>
                                  <div class="col label-1">Number :</div>
                                  <div class="col"><b>
                                      <input matInput type="text"
                                      value="{{selected.TELNO}}"></b></div>
                              </div>
                            
                            <div class="row">
                              <div class="col label-1">Area: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.AREA | titlecase}}"></b></div>
                              <div class="col label-1">State: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.STATE | titlecase}}"></b></div>
                            </div>
                            <div class="row">
                              <div class="col label-1">Pincode: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.PINCODE}}"></b></div>
                              <div class="col label-1">Sales District: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.SALES_DISTRICT }}"></b></div>
                            </div>
                            <div class="row">
                                <div class="col label-1">Address: </div>
                                <div class="col"><b>
                                    <input matInput type="text"
                                    value="{{selected.RESELLER_ADDRESS | titlecase}}"></b></div>
                            </div>
                            <hr>
              
                            
                        <div class="row">
                            <div class="col">Category: </div>
                            <div class="col"><b>
                                <input matInput type="text"
                                value="{{selected.CATEGORY }}"></b></div> 
                        </div>
                        <div class="row">
                            <div class="col">Distributor Storage Location: </div>
                            <div class="col"><b>
                                <input matInput type="text"
                                value="{{selected.DIST_STORAGE_LOCATION }}"></b></div>
                        </div>           
                        <div class="row">
                            <div class="col">Service Charge Due Date:</div>
                            <div class="col"><b>
                                <input matInput type="text"
                                value="{{selected.SERVICE_CHARGE_DUE_DATE}}"></b></div>
                        </div>
                        <div class="row">
                              <div class="col">Service Charge Amount Paid Date: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.SERVICE_CHARGE_AMOUNT}}"></b></div>
                        </div>                   
                        </div>
              </div>

              <div class="col-10">
                 <div class="card" *ngIf="(viewSelector.value.includes('Purchase')
                          ||
                          viewSelector.value.includes('All'))">
                          <span class="my-card-title float-left gradient headerColor">Purchase</span>
                          <div>
                            <div class="row">
                              <div class="col label-1">Material Code: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.MATERIAL_CODE}}"></b></div>
                            </div><hr>
              
                            <div class="row">
                              <div class="col label-1">GRN No: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.GRN_NO}}"></b></div>
                              <div class="col label-1">GRN Date: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.GRN_DATE}}"></b></div>
                            </div>
              
                            <div class="row">
                              <div class="col label-1">PO No: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.PURCHASE_ORDER_NO}}"></b></div>
                              <div class="col label-1">SO No: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.SALES_ORDER_NO}}"></b></div>
                            </div>
                            <div class="row">
                              <div class="col label-1">Order Type: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.ORDER_TYPE}}"></b></div>
                              <div class="col label-1">Order Date: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.ORDER_DATE}}"></b></div>
                            </div>
                            <div class="row">
                              <div class="col label-1">Vendor Bill No: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.VENDOR_BILL_NO}}"></b></div>
                              <div class="col label-1">Delivery Date: </div>
                              <div class="col"><b>
                                  <input matInput type="text"
                                  value="{{selected.DELIVERY_DATE}}"></b></div>
                            </div>
                          </div>
                 </div>
              </div>

              <div class="col-10">
                <div class="card" *ngIf="(viewSelector.value.includes('OEM')  ||
                  viewSelector.value.includes('All'))">
                  <span class="my-card-title float-left gradient headerColor">OEM</span>
                  <div class="row">
                    <div class="col"><b>
                        <input matInput type="text"
                        value="{{selected.VENDOR_NAME | titlecase}}"></b></div>
                  </div>
                </div>
              </div>
            


            <!-- <table class="table table-bordered">
              <tbody>
                <tr *ngFor="let item of keys">
                  <td><b>{{item}}</b></td>
                  <td *ngFor="let col of data.v; let ci = index">
                    <div [ngClass]="{'highlight': ci > 0 ? (data.v[ci-1][item] !== data.v[ci][item]) : false}"><b>{{col[item]}}</b></div>
                  </td>
                </tr>
              </tbody>
            </table> -->
  

          </div> 
        </div>
              
        <div class="container justify-content-center animated fadeIn mt-5 pt-4"
                    *ngIf="!showAssetData" style="color: #6c757d">
            <div class="h2-responsive"><i class="fa fa-exclamation"></i>&nbsp;No data found!</div>
        </div>
              
  </mat-drawer-content>
              
  </mat-drawer-container>
  
